@import "tailwindcss";

@theme {
  --radius-base: 0.5rem;
}

@utility rounded-base {
  border-radius: var(--radius-base);
}

@utility rounded-s-base {
  border-start-start-radius: var(--radius-base);
  border-end-start-radius: var(--radius-base);
}

@utility rounded-e-base {
  border-start-end-radius: var(--radius-base);
  border-end-end-radius: var(--radius-base);
}
